@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC|Roboto&display=swap');

:root {
  --font-primary: 'Roboto', sans-serif;
  --font-secondary: 'Bowlby One SC', cursive;
  --clr-primary: #26a698;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-primary);
  background: linear-gradient(to bottom, #333333 30%, #585858);
  color: #fff;
}
